.card {
  padding: 2em;
}

.logo {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 35px;
}

.read-the-docs {
  color: #888;
}

.flex {
  display: flex;
}

.bg-e {
  background: #edf2fa;
}

.radio {
  padding: 10px;
  margin: 7px 10px 10px 10px;
}

.br-btn {
  border-radius: 0px 5px 5px 0px;
}

.br-file {
  border-radius: 5px 0px 0px 5px;
}

.ocr-results-cont {
  border-left: 2px dashed #bbb;
  width: 50%;
  height: 660px;
  overflow-y: auto;
}